:root {
  --sims-blue: #3a7dcd;
  --sims-green: #53b014;
  --sims-light-gray: #f4f4f4;
  --sims-dark-gray: #333;
}

/* Reset and base styles */
html,
body,
#root,
.App {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--sims-green);
  color: var(--sims-dark-gray);
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: auto;
  background-color: var(--sims-light-gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App-header {
  background-color: var(--sims-blue);
  color: white;
  padding: 20px 0;
  text-align: center;
  margin: auto;
  width: 100%;
  border-bottom: 5px solid var(--sims-dark-gray);
  box-sizing: border-box;
}

.App-header h1 {
  margin-bottom: 20px;
}

.TabContent {
  height: 100%;
}

.Tabs {
  display: flex;
  justify-content: center;
  background-color: var(--sims-light-gray);
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.Tabs button {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0 2rem;
  margin: 1rem 2rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.Tabs button::before {
  content: "\2605";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--sims-blue);
  transition: transform 0.3s, color 0.3s; /* Apply transition for smooth rotation and color change */
}

.Tabs button:hover::before {
  transform: rotate(360deg); /* Rotate the star on hover */
  color: var(--sims-green); /* Change color on hover */
}

.Tabs button span {
  position: relative;
  z-index: 1;
}

.Tabs button.active::before {
  content: "\2605";
  color: var(--sims-green);
}
/* Cast info styles */
.castInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  background-color: var(--sims-light-gray);
}

.castMember {
  width: 30%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.castMember img {
  width: 100%;
  margin-bottom: 10px;
}

.castMember h3 {
  margin: 0;
}

.castMember p {
  margin: 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  width: 70%;
  margin: auto;
  background-color: var(--sims-light-gray);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .castMember {
    width: 100%;
    max-width: 100%;
  }
}
